/* main.css */

body {
    text-align: center;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.jumbotron {
    background-image: url("../img/RainierSummit-md-lg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    color: #fff;
    text-shadow: 3px 3px #000;
}

#jumbo {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

#firstRow {
    margin-top: 50px;
}

#showcase img {
    width: 90%;
    margin-left: 60px;
    border: 2px solid black;
}

#showcase {
    text-align: center;
}

#showcase .section1-right {
    margin-top: 90px;
}

#showcase .section2-left {
    margin-top: 80px;
}

#showcase .section3-right {
    margin-top: 150px;
}

#intrests p {
    font-size: 48px;
}


/*I may want to work on this text color a bit more 
    or choose s different background image*/